<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LockSmith AI About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="app.js"></script>
</head>
<body>
    <header class="navbar">
        <div class="logo">LockSmith AI</div>
        <nav>
            <ul>
                <li><a href="/homepage.html">Homepage</a></li>
                <li><a href="/contact.html">Contact the Team</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <div class="profile-pic"></div>
            <h1>About Us</h1>
            <p class="hero-text">
                LockSmith AI is a ............... 
                <br><br>
                By using advanced AI algorithms, LockSmith AI detects weaknesses in your passwords, offering insights into their security risks. We aim to make cybersecurity accessible for everyone, so you can feel confident online.
                <br><br>
                Created during Uottahack 7, LockSmith AI brings a practical, user-friendly solution to password evaluation. Our mission is simple: help you assess the security of your passwords with ease and reliability. 
                <br><br>
                We're committed to empowering individuals and providing them with the tools to safeguard their online presence.
                <br><br>
                <p>Our GitHub page is: <a href="https://github.com/SinghAgamGit/Uottahack-7" target="_blank" class="github-link">GitHub</a></p>

            </p>
        </div>
    </section>

    <footer>
        <p>© 2025 made for Uottahack 7</p>
    </footer>
</body>
</html>
