<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LockSmith AI Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="logo">LockSmith AI</div>
        <nav>
            <ul>
                <li><a href="/">Log In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Contact Us</h1>
            <p>please reach out to us to reset your password</p>
            <a href="{{ feedback_form_url }}" target="_blank" class="btn2">ServeyMonkey</a>
        </div>
    </section>
    <footer>
        <p>© 2025 made for Uottahack 7</p>
    </footer>
</body>
</html>
